@import url('https://fonts.googleapis.com/css?family=Anton');

.rock, .paper, .scissors, .lizard, .spock {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Anton', sans-serif;
  font-size: 40px;
  color: white;
  height: 75px;
  width: 175px;
  border-radius: 70px;
  -moz-border-radius: 70px;
  -webkit-border-radius: 70px;
  -khtml-border-radius: 70px;
  margin: 4px;
  outline: none;
  cursor: pointer;
  background-size: cover;    
  background-repeat: no-repeat;
  background-position: center center;
}

.rock {
  background-image: url('https://s3-us-west-1.amazonaws.com/coffeegodddpublic/assets/rock.jpg');
}

.paper {
  background-image: url('https://s3-us-west-1.amazonaws.com/coffeegodddpublic/assets/paper.jpg');
}

.scissors {
  background-image: url('https://s3-us-west-1.amazonaws.com/coffeegodddpublic/assets/scissors.jpg');
}

.lizard {
  background-image: url('https://s3-us-west-1.amazonaws.com/coffeegodddpublic/assets/lizard.jpg');
}

.spock {
  background-image: url('https://s3-us-west-1.amazonaws.com/coffeegodddpublic/assets/spock.jpg');
}


.info {
  text-align: center;
  font-size: 16px;
  height: 30px;
  width: 30px;
  background-color: #032254;
  color: #9bcfff;
  border: 1px #9bcfff solid;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  outline: none;
  cursor: pointer;
}

.victory {
  background-image: none;
  background-color: rgba(110, 195, 85, 0.98);
  opacity: .5;
}

.defeat {
  background-image: none;
  background-color: rgba(249, 5, 5, 0.8);
  opacity: .5;
}

.rock:hover, .paper:hover, .scissors:hover, .lizard:hover, .spock:hover {
  -webkit-box-shadow: 0 0 20px #9bcfff;
  box-shadow: 0 0 20px #9bcfff;
}

.rock:active, .paper:active, .scissors:active, .lizard:active, .spock:active {
  color: #a5dfff;
  -webkit-box-shadow: 0 0 20px #9bcfff;
  box-shadow: 0 0 40px #9bcfff;
}

@media only screen and (max-width: 768px) {
  .rock, .paper, .scissors, .lizard, .spock {
    height: 50px;
    width: 120px;
    font-size: 25px;
  }
}